* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0.5px 10px 4px #dddddd;
}

nav a, nav a:hover{
    text-decoration: none;
    color: black;
    
}

.front {
    height: 80vh;
    display: list-item;
    align-items: center;
    width: 100%;
    
}

.front h3 , .front h4 {
    text-align: center;
    padding: 50px;
margin: auto;
}

.row {
    justify-content: center;
    display: flex;
    margin: auto;
}

.btns {
    margin: 20px;
    cursor: pointer;
    border: 4px solid rgb(255, 128, 50);
    font-family: "system-ui";
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 454ms;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 15px;
    background: rgb(255, 128, 50);

}

.btns:hover {
    color: rgb(0, 0, 0);
    width: 220px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(255, 128, 50);
    border-width: 4px;
    border-style: solid;
}

form{
    box-shadow: 0 0.5px 10px 4px #dddddd;
    width: 30%;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
}